---
site_name: LAB-2353 - Webex Contact Center Lab  Data, insights & Journey # This must begin with the session ID
site_description: LAB-2353 - Webex Contact Center Lab  Data, insights & Journey # must be same as "site_name"
site_author: Gagarin Sathiyanarayanan
copyright: Copyright &copy; 2024 Cisco
theme:
  name: material
  features:
    - navigation.sections
    - content.tabs.link
    - navigation.icons
    - navigation.expand
    - navigation.path
    - navigation.instant.prefetch 
    - navigation.instant.progress
    - navigation.tabs.link
    - navigation.tracking
    - navigation.highlight
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.instant
    - navigation.top
    - navigation.footer
    - search.suggest
    - content.code.copy
    - toc.integrate
  custom_dir: docs/overrides
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: template_assets/webexLogo91.png
  favicon: template_assets/webex75.png
extra:
  generator: false
extra_css:
  - stylesheets/extra.css
plugins:
  - search
  # - with-pdf:
  #     cover_title: LABXXX-1234
  #     cover_subtitle: My famous WebexOne Lab
  #     cover_logo: template_assets/wx1Splash_new.gif
  - glightbox:
      touchNavigation: true
      loop: false
      effect: fade
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: false
      skip_classes:
      - custom-skip-class-name
      auto_caption: true
      caption_position: top
markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - md_in_html
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - tables
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
nav:
  - Home: index.md
  - Table of Contents: ToC.md
  - Start Lab:
      - Lab Overview: overview.md
      - Lab Guide:
            - Pre-Requisites: ./Labguide/PreRequisites.md
            - Lab 1 User Interface: ./Labguide/Lab1.md
            - Lab 2 Stock Reports: ./Labguide/Lab2.md
            - Lab 3 Custom Reports: ./Labguide/Lab3.md
            - Lab 4 [Bonus] Data API: ./Labguide/Lab4.md
            - Lab 5 Auto CSAT: ./Labguide/Lab5.md
            - Lab 6 Topic Analytics: ./Labguide/Lab6.md
            - Lab 7 Survey Insights: ./Labguide/Lab7.md
            - Lab 8 Customer Journey: ./Labguide/Lab8.md
      - Conclusion: conclusion.md

